*~
*.gresource

Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/install-sh
/missing
/config.guess
/config.log
/config.rpath
/config.status
/config.sub

/eos-speedwagon
/src/config.js
/com.endlessm.Speedwagon.service
