
.speedwagon-bg {
    background-repeat: no-repeat;
    background-position: center center;
}

.speedwagon-spinner-bg {
    background-image: url('splash-spinner-channel.png');
    /* HACK: prevent the zoom-in on the glow */
    background-size: 220px 220px, 220px 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
.glow .speedwagon-spinner-bg {
    transition: background-image 0.2s;
    background-image: url('splash-spinner-channel.png'), url('splash-spinner-channel-glow.png');
}

.speedwagon-spinner {
    -gtk-icon-source: url('splash-spinner.png');
    animation: spin 2s linear infinite;
}
.glow .speedwagon-spinner {
    transition: -gtk-icon-source 0.2s;
    -gtk-icon-source: url('splash-spinner-glowing.png');
}
